@import 'colors';
@import 'animate';

*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	scroll-padding-top: 82px;
}

body {
	background-color: $bg-color;
	font-family: 'Sora', sans-serif;
}

h2 {
	text-align: center;
	text-transform: uppercase;
}

.underline {
	margin: 0 auto;
	width: 60px;
	height: 4px;
	background-color: $main-color;
}

.lime-text {
	color: $main-color;
}

.shadow-bg {
	background-color: rgba(0, 0, 0, 0.7);
}

.navbar {
	transition: background-color 600ms;

	.navbar-brand {
		color: $white;
	}

	.fa-bars {
		padding: 10px;
		color: $white;
	}

	.navbar-nav {
		text-transform: uppercase;
		.nav-link {
			color: $white;
		}
		.nav-link:hover {
			color: $main-color;
		}

		.active {
			color: $main-color;
		}
	}
}

header {
	.hero-image {
		position: relative;
		height: 100vh;
		background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(/img/hero-bg-small.jpg);
		background-position: center;
		background-repeat: no-repeat;
		background-size: cover;
		background-attachment: fixed;
	}

	.hero-text {
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;
		height: 100%;
		padding: 10px;
		text-align: center;
		color: white;

		h1 {
			text-transform: uppercase;
			font-weight: bold;
		}

		p {
			font-size: 20px;
		}
		.fa-arrow-down {
			font-size: 40px;
			color: $white;
		}
		.arrow-down {
			position: absolute;
			bottom: 15px;
		}
	}
	.btn-outline-light {
		text-transform: uppercase;
	}
}

.aboutus {
	i {
		margin-top: 20px;
		font-size: 30px;
	}
	.aboutus-card-title {
		font-size: 18px;
		text-transform: uppercase;
	}
	.aboutus-card-text {
		font-size: 14px;
	}
}

.aboutus-hover:hover {
	color: $main-color;
}

.aboutus-hero {
	position: relative;
	background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(/img/hero-bg2-small.jpg);
	background-position: center;
	background-size: cover;
	color: $white;
	z-index: 0;

	.aboutus-hero-item {
		margin: 10px 0;

		i {
			font-size: 36px;
		}

		.aboutus-hero-title {
			font-size: 24px;
		}
	}
}

.portfolio {
	.carousel-item {
		position: relative;
	}
	.carousel-caption {
		position: absolute;
		background-color: rgba(0, 0, 0, 0.7);
		left: 0;
		right: 0;
	}
}
.prices {
	.price-box {
		margin: 20px 10px;
		padding: 20px;
		background-color: $white;
		box-shadow: 10px 10px 13px 0px rgba(72, 72, 76, 1);
		transition: transform 400ms;

		h3 {
			color: $main-color;
			text-transform: uppercase;
		}

		i {
			font-size: 20px;
			padding: 5px;
		}
		.price {
			font-size: 30px;
			font-weight: bold;
		}

		button {
			text-transform: uppercase;
		}
	}

	.price-box:hover {
		transform: scale(1.1);
	}
	.prices-info {
		margin-top: 24px;

		a {
			text-decoration: none;
		}
	}
}

.team {
	background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(/img/job-g2e19d0ead_1920.jpg);
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
	h2 {
		color: $bg-color;
	}
	.card {
		transition: transform 300ms;
		img {
			height: 180px;
			object-fit: cover;
		}
		i {
			padding: 10px;
		}
	}
	.card-body {
		height: 210px;
	}

	.card:hover {
		transform: scale(0.95);
	}

	.card-title {
		margin-bottom: 20;
		text-align: center;
		text-transform: uppercase;
	}
}

.achievements {
	i {
		padding: 0;
		font-size: 48px;
		color: $white;
		text-shadow: 0 0 5px black;
	}
	.achievements-list {
		padding: 24px 0;
	}
	.achievement-number {
		padding-top: 20px;
		font-size: 22px;
	}
	.achievement-text {
		font-size: 13px;
		text-transform: uppercase;
	}
}

.contact {
	background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(/img/skyline-gde31fde38_1920.jpg);
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
	h2 {
		color: $bg-color;
	}

	.contact-us {
		color: $bg-color;
		.contact-item {
			margin-bottom: 15px;
			letter-spacing: 2px;
		}
		h3 {
			text-transform: uppercase;
		}
		a {
			padding: 0 10px;
			font-size: 26px;
			color: $bg-color;
			transition: font-size 100ms;
		}
		a:hover {
			font-size: 30px;
		}
	}
}

@media screen and (min-width: 992px) {
	.navbar {
		height: 82px;
	}

	header {
		.hero-image {
			background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(/img/hero-bg-big.jpg);
		}
	}
	.hero-image-main {
		background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(/img/hero-bg2-big.jpg);
	}

	.prices {
		.prices-info {
			font-size: 20px;
		}
	}

	.team {
		.card-body {
			height: 160px;
		}
		.card {
			img {
				height: 300px;
			}
		}
	}
}
